@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Rockane";
  src: url("../fonts/Rockane.otf");
}
* {
  font-family: "Rockane";
  font-smooth: always;
}
* ::selection {
  background-color: #5eee5141;
}
.outline-brown {
  text-shadow: -0.15em 0.1em #3c2f0e;
}
.outline-text-brown {
  text-shadow: -0.1em 0.05em #3c2f0e;
}
.outline-title {
  text-shadow: -0.08em 0.05em #3c2f0e;
}
.outline-title-gray {
  text-shadow: -0.08em 0.08em #1f1f1f;
}
.outline-gray-mobile {
  text-shadow: -0.2em 0.2em #272727;
}

.outline-cards {
  box-shadow: -8px 8px 1px -3px rgba(51, 51, 51, 0.7);
}

.hover-effect {
  display: inline-block;
  transition: all 0.15s ease;
}
.hover-effect:hover {
  display: inline-block;
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}
.hover-effect-cards {
  transition: all 0.15s ease;
}
.hover-effect-cards:hover {
  transform: scale(1.06);
  transition: all 0.25s ease-in-out;
}
.shadow-cards {
  filter: drop-shadow(5px 3px 4px #414141);
}
.outline-guitars {
  filter: drop-shadow(15px 15px #000000a9);
}
